*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(205, 205, 205);
}

header {
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar {
    /* overflow: hidden; */
    font-family: Arial;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 1;
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 0px 10px #ffffff;
    color: rgb(151, 151, 151) !important;
}

.logo img{ 
    width: 3vw;
    height: 3vh;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* color: white; */
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(144, 144, 144);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.search-form {
    float: right;
    margin: 10px;
}

.search-form button{
    color: white;
    border:0;
    background:none;
}

#search-bar {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.main-image img{ 
    width: 100%;
    height: 100%;
    filter: brightness(0.7) grayscale(1);
}

.Artist-name{
    font-weight: bold;
    font-size: 2rem;
    color: rgb(244, 229, 203);
    letter-spacing: 10px;
    position: absolute;
    top: 20%;
    width: 30%;
    margin-left: 15%;
    margin-top: 7%;
}

.new-content h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: left;
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: bolder;
    margin-left: 30px;
}

.new-content p{
    margin-left: 30px;
    margin-top: 100px;
    margin-right: 20px; 
    text-align: justify;
    margin-right: 20px;
    font-size: medium;
    letter-spacing: 1px;
}

/* album */
h1{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: left;
    font-size: 2.5rem;    
    font-weight: bolder;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 80px;
}

.Album{
    /* box-sizing: border-box; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.card img{
    width: 300px;
    height: 250px;
    /* margin-top: 20%; */
    transition: 0.5s;
}

.box .text{
    text-align: justify;
}

.box{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    position: absolute;
    top: 40%;
    background-color: #d9d9d9;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 55%;
    z-index: -1;
}

.card img{
    border-radius: 20px;
    filter: brightness(0.7) grayscale(1);
}

.card img:hover + .box{
    animation: box 1s ease forwards;
}

.card img:hover{
    box-shadow: 0px 0px 50px grey;
    transform: scale(1.03);
    filter: grayscale(0);
    transition: all 0.9s;
}

@keyframes box{ 
    0%{
        width: 300px;
        height: 50px;
        box-shadow: 0px 0px 0px grey;
    }
    50%{
        width: 400px;
        height: 50px;
        box-shadow: 0px 0px 30px grey;
    }
    100%{
        width: 400px;
        height: 300px;
        box-shadow: 0px 0px 30px grey;
    }
}

